<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#090909">
    <title>
      {%- if page_title == blank -%}
        {{ shop.name }}
      {%- else -%}
        {{ page_title }} — {{ shop.name }}
      {%- endif -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32 }}">
    {% endif %}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </head>

  <body class="template-{{ template.name }}">
    {% section 'header' %}

    <main id="main-content">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </body>
</html>
